header { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem 0 5rem;
    background: darken($background-color, 10%);
    .header__logo { 
        font-size: 3rem;
        color: $colour-logo;
    }
    & i {
        position: relative;
        font-size: 2.5rem;
        color: $colour-tertiary;
    }
    & i:hover {
        transition: 300ms;
        transform: scale(1.1);
    }
}